body {
  font-family: "Open Sans Condensed";
  padding: 20px 60px;
  /* background: linear-gradient(110deg, #002650 60%, #1c2534 60%); */
  background: white;
}
a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}
